Flujo Node-Red/Node-Red principal.json
[
    {
        "id": "cb40424275587109",
        "type": "mqtt in",
        "z": "bcbd50b74723371d",
        "name": "",
        "topic": "kapm/sensores",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7c23af5fcf3a4cda",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 500,
        "wires": [
            [
                "a95eeaad5ef81b71"
            ]
        ]
    },
    {
        "id": "a95eeaad5ef81b71",
        "type": "function",
        "z": "bcbd50b74723371d",
        "name": "function 3",
        "func": "var data = msg.payload;\n\nvar distancia1 = data.distancia1;\nvar distancia2 = data.distancia2;\nvar luz = data.luz;\n\nmsg.topic = \"INSERT INTO DatosSensores (distancia1, distancia2, luz) VALUES (\" \n             + distancia1 + \", \" + distancia2 + \", \" + luz + \");\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 500,
        "wires": [
            [
                "61a72e55b142043e"
            ]
        ]
    },
    {
        "id": "61a72e55b142043e",
        "type": "sqlite",
        "z": "bcbd50b74723371d",
        "mydb": "039c6ce3b7ec83d9",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 590,
        "y": 500,
        "wires": [
            [
                "c180815008399805"
            ]
        ]
    },
    {
        "id": "c180815008399805",
        "type": "debug",
        "z": "bcbd50b74723371d",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 500,
        "wires": []
    },
    {
        "id": "7c23af5fcf3a4cda",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "039c6ce3b7ec83d9",
        "type": "sqlitedb",
        "db": "C:\\Users\\karen\\aiot01.db ",
        "mode": "RWC"
    }
]